/* MadCap Table Style: */

mcTableStyle {
	name: Typographic; 
	border-spacing-y: 1; 
	border-spacing-x: 1; 
	border-collapse: collapse; 
	cell-padding-top: 2px; 
	cell-padding-bottom: 2px; 
	cell-padding-left: 2px; 
	cell-padding-right: 2px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	background-color: #ffffff; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: none; 
	separator-width: 0px; 
	separator-color: #000000; 
	font-family: Century Schoolbook; 
}

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_Typographic
{
	border-collapse: collapse;
	border-spacing: 1px 1px;
	mc-cell-padding: 2px 2px;
}

.TableStyle_Typographic_Head_0_0
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Head_0_0_RowSep_ColSep
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Head_0_0_RowSep
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Head_0_0_ColSep
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Head_0_0_RowSep_ColEnd
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Head_0_0_RowEnd
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Head_0_0_RowEnd_ColSep
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Head_0_0_RowEnd_ColEnd
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Head_0_0_ColEnd
{
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0_RowSep_ColSep
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Body_0_0_RowSep
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0_ColSep
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Body_0_0_RowSep_ColEnd
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0_RowEnd
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0_RowEnd_ColSep
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Typographic_Body_0_0_RowEnd_ColEnd
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Typographic_Body_0_0_ColEnd
{
	font-family: 'Century Schoolbook';
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}


