/* MadCap Table Style: */

mcTableStyle {
	name: UIStyle; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	cell-padding-left: 2px; 
	cell-padding-right: 2px; 
	cell-padding-top: 2px; 
	cell-padding-bottom: 2px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableColumnStyle  { color: #00008b; font-size: 10pt; font-weight: bold; background-color: #cdcdcc; separator-style: solid; separator-width: 1px; span: 0 }

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	background-color: #dcdcdc; 
	font-family: Arial; 
	font-size: 10pt; 
}

mcTableBodyStyle  { font-size: 10pt; font-weight: normal; separator-color: #000000; separator-style: solid; separator-width: 1px; span: 1 }

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_UIStyle
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 2px 2px;
}

.TableStyle_UIStyle_Head_0_0
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_0_RowSep_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_0_RowSep
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_0_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_0_RowSep_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_0_RowEnd
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_0_RowEnd_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_0_RowEnd_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_0_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1_RowSep_ColSep
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_1_RowSep
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_1_RowSep_ColEnd
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1_RowEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1_RowEnd_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Head_0_1_RowEnd_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Head_0_1_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0_RowSep_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_0_RowSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_0_RowSep_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0_RowEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0_RowEnd_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_0_RowEnd_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_0_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_1_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_1_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1_RowEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1_RowEnd_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_UIStyle_Body_0_1_RowEnd_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_UIStyle_Body_0_1_ColEnd
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #cdcdcc;
	color: #00008b;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}


