<html>
  <head>
    
   </head>
   <body>
	<div class="formBody">
		<div class="titleBar">
			<@s.text name='log.view.title'/>
		</div>
		<div class="logAttributes">
		</div>
	  	<div style="height:116px;">
	  	&nbsp;
	  	</div>
	</div>
   </body>
</html>