<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>authzx</short-name>
	<uri>http://www.vocollect.com/authzx</uri>
	<description>
		Extended functionality of:
        Acegi Security Systems Authorization Tag Library
		$Id: authz.tld,v 1.5 2005/11/17 00:56:30 benalex Exp $
	</description>
	<tag>
		<name>authorizeByFeature</name>
		<!-- extends org.acegisecurity.taglibs.authz.AuthorizeTag -->
		<tag-class>com.vocollect.epp.security.taglibs.authzx.AuthorizeByFeatureTag</tag-class>
		<description>
            A simple tag to output or not the body of the tag if the principal
            has or doesn't have certain authorities based on feature name.
		</description>
		<attribute>
			<name>featureName</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>