/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	border-bottom: solid 1px;
	mc-auto-number-position: inside-head;
	font-family: Arial;
	mc-auto-number-format: 'GH:{chapnum} ';
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	font-family: 'Century Schoolbook';
	margin: 0;
	mc-auto-number-format: 'GH:{chapnum}.{Cn+}{ =0} ';
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	font-family: 'Century Schoolbook';
	mc-auto-number-format: 'GH:{chapnum}.{Cn}.{n+}  ';
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	mc-heading-level: 0;
	font: Century Schoolbook;
	font-family: 'Century Schoolbook';
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
	mc-heading-level: 0;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
	mc-heading-level: 0;
}

p
{
	margin-top: 0pt;
	font-size: 10pt;
	margin-bottom: 10pt;
	font-family: 'Century Schoolbook';
}

p.caption
{
	font-family: Arial;
	font-size: 8pt;
	text-align: center;
	font-weight: bolder;
	mc-auto-number-format: 'CF:Figure {chapnum}.{n+}';
	padding-bottom: 10pt;
	page-break-before: avoid;
	widows: 2;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
	page-break-after: avoid;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

h1.NonTOCH1
{
	border-bottom: solid 1px;
	mc-page-number-format: lower-roman;
	mc-auto-number-format: '{ }';
	mc-auto-number-position: none;
}

p.note
{
	border-bottom: solid 1px;
	border-top: solid 1px;
	background-color: #dcdcdc;
}

li
{
	font-size: 10pt;
	margin-bottom: 6px;
	text-align: left;
	margin-left: 10px;
	text-indent: 0px;
	font-family: 'Century Schoolbook';
}

th
{
	background-color: #dcdcdc;
	font-size: 10pt;
	display: table-cell;
	font-family: 'Century Schoolbook';
}

td
{
	font-size: 10pt;
	mc-page-number-format: lower-roman;
	font-family: 'Century Schoolbook';
	orphans: 0;
	widows: 4;
}

p.center
{
	text-align: center;
}

span.prodname
{
	font-size: 10pt;
	font-style: italic;
	font-family: 'Century Schoolbook';
}

MadCap|variable.prodname
{
	mc-tag-and-class: span;
	font-family: 'Century Schoolbook';
	font-size: 10pt;
	font-style: italic;
}

span.guilabel
{
	font-size: 10pt;
	font-weight: bold;
	font-family: 'Century Schoolbook';
}

MadCap|xref.OnPage
{
	mc-format: '{quote}{h1}{quote} on page {page}';
}

span.filename
{
	font-weight: bold;
}

p.Important
{
	margin: 2px;
	padding: 3px;
	color: #ff0000;
	font-weight: bold;
	border: double 1px #ff0000;
}

MadCap|tocProxy
{
	mc-leader-align: right;
	mc-leader-format: 'decimal';
	mc-auto-number-position: none;
}

span.firstterm
{
	font-style: italic;
}

th.left
{
	background-color: #dcdcdc;
	font-size: 10pt;
	font-family: Arial;
	text-align: left;
	display: table-row;
}

li.secondary
{
	list-style-type: circle;
	text-align: left;
	text-indent: 0px;
	margin-left: 30px;
}

h1.Cover
{
	text-align: center;
	font-size: 30pt;
	font-family: Arial;
	text-align: center;
	border-bottom: none;
	mc-heading-level: 0;
	page-break-before: avoid;
	page-break-after: avoid;
	mc-auto-number-format: '{ }';
	mc-auto-number-position: none;
}

MadCap|xref.OnPageh4
{
	mc-format: '{quote}{paratext}{quote} on page {page}';
}

MadCap|xref.OnPageh5
{
	mc-format: '{i}{h5}{/i} on page {page}';
}

MadCap|xref.OnPageh2
{
	mc-format: '{i}{para}{/i}';
}

p.example
{
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Courier New';
	margin-bottom: 10pt;
	font-size: 9pt;
}

h5.indent
{
	text-indent: 40px;
}

p.indent
{
	text-indent: 0px;
	margin-left: 50px;
}

p.noteIndent
{
	border-bottom: solid 1px;
	border-top: solid 1px;
	background-color: #dcdcdc;
	text-indent: 0px;
	margin-left: 50px;
}

td.pagenumber
{
	mc-auto-number-format: 'Page {page}';
	mc-auto-number-class: bold;
	mc-page-number-start-value: 1;
	font-family: Arial;
	font-size: 8pt;
}

MadCap|variable.romannumber
{
	mc-page-number-format: lower-alpha;
}

p.coverCenter
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	font-size: 14pt;
	page-break-after: avoid;
}

p.NoSpace
{
	margin: 0;
}

h1.TOCHead
{
	border-bottom: solid 1px;
	mc-auto-number-format: '{ }';
	mc-auto-number-position: none;
}

p.preimp_table
{
	font-family: Arial;
	margin-bottom: auto;
}

li.preimp_table
{
	font-family: Arial;
	text-indent: 0px;
}

h1.Appendix
{
	mc-auto-number-position: inside-head;
	mc-auto-number-format: 'GH:Appendix {chapnum}:';
}

li.numberedindent
{
	text-indent: 0px;
	margin-left: 28px;
}

@media print
{
	p.TOC1
	{
		mc-auto-number-format: 'Chapter {chapnum}: ';
	}

	h2.Copyright
	{
		mc-heading-level: 0;
		page-break-before: always;
	}

	h4
	{
		mc-auto-number-format: 'GH:{chapnum}.{Cn}.{n}.{n+} ';
	}

	li.note
	{
		
	}

	h1.NonTOCH1
	{
		mc-heading-level: 0;
	}

	li.secondsolid
	{
		list-style-type: disc;
		margin-left: 40px;
	}

	p.caption
	{
		widows: 5;
	}

	img
	{
		orphans: 2;
	}

	MadCap|variable.regularnumber
	{
		
	}
}

span
{
	font-family: 'Century Schoolbook';
}

table
{
	page-break-inside: avoid;
	border: solid 1px #000000;
}

p.TOC1
{
	mc-heading-level: 1;
	mc-auto-number-format: 'Chapter {n+}: ';
}

h2.nonTOC
{
	mc-auto-number-format: '{ }';
}

MadCap|xref.figurelabel
{
	mc-format: '{paranum}';
}

MadCap|xref.ChapterRef
{
	mc-format: 'Chapter {chapnum}: {h1}';
}

p.Warning_1
{
	border: double 1px;
}

h2.nonTOC
{
	mc-heading-level: 0;
}

p.tablecaption
{
	margin-top: 0pt;
	margin-bottom: 10pt;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	text-align: center;
	mc-auto-number-format: 'CT:Table {chapnum}.{n+}';
}

span.HeadingName
{
	font-style: italic;
}

tr
{
	orphans: 0;
	widows: 4;
}

tbody
{
	orphans: 0;
	widows: 4;
}

h3.nonTOC
{
	mc-heading-level: 0;
}

span.example
{
	font-family: 'Courier New';
}

p.WarningIndent
{
	padding-left: 50px;
	border: double 1px;
}

MadCap|xref.AppRef
{
	mc-format: '{quote}{para}{quote} on page {page}';
}

p.exampleindent
{
	font-family: 'Courier New';
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 6pt;
	font-size: 9pt;
}

li.outdent
{
	margin-left: 0px;
}

p.RevisionNum
{
	margin-top: 0pt;
	font-family: Arial;
	font-style: italic;
	text-align: right;
	font-size: 12pt;
	margin-bottom: 20pt;
	page-break-before: avoid;
	vertical-align: bottom;
	page-break-after: always;
}

span.userinput
{
	font-weight: bold;
}

MadCap|xref
{
	mc-format: 'see {quote}{para}{quote}';
}

span.docname
{
	font-style: italic;
}

span.MessageName
{
	font-weight: bold;
}

span.comment
{
	color: #ff00ff;
	font-family: monospace;
}

p.comment
{
	color: #ff00ff;
	font-size: 12pt;
	font-family: monospace;
}

@media non-print
{
	li.diagram
	{
		
	}

	p.comment
	{
		font-family: 'Cooper Black';
	}

	span.comment
	{
		font-family: monospace;
	}

	h1.NonTOCH1
	{
		mc-heading-level: 0;
	}

	p.Landscape
	{
		
	}
}

li.diagram
{
	font-weight: bold;
	list-style-position: outside;
	list-style-type: decimal;
	text-indent: 0px;
	margin-left: 10px;
}

h2.nonTOC
{
	font-weight: bold;
	font-size: 18.0pt;
	font-family: 'Century Schoolbook';
	margin: 0;
	mc-auto-number-format: 'GH:{chapnum}.{Cn+}{ =0} ';
}

h2.Copyright
{
	mc-auto-number-format: '{ }';
}

MadCap|bodyProxy.landscape
{
	mc-printer-page-orientation: landscape;
}

MadCap|xref.h3OnPage
{
	mc-format: '{quote}{h3}{quote} on page {page}';
}

li.note
{
	background-color: #dcdcdc;
}

ol.note
{
	background-color: #dcdcdc;
	border-bottom: solid 1px;
	border-top: solid 1px;
}

ul.note
{
	background-color: #dcdcdc;
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
}

li.secondsolid
{
	font-size: 10pt;
	margin-bottom: 6px;
	text-align: left;
	margin-left: 10px;
	text-indent: 0px;
	font-family: 'Century Schoolbook';
}

p.NonTOCH1
{
	border-bottom: solid 1px;
	mc-page-number-format: lower-roman;
	mc-auto-number-format: '{ }';
	mc-auto-number-position: none;
	font-family: Arial;
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 1.12pt;
	mc-disable-glossary-terms: true;
	mc-heading-level: 0;
	page-break-before: always;
}

MadCap|xref.image
{
	mc-format: '{quote}{paranumonly}{paratext}{quote} on page {page}';
}

MadCap|xref.Section
{
	mc-format: 'Section {paranum}, {quote}{paratext}{quote}, starting on page {page}';
}

pre.p_code_example
{
	font-size: 8pt;
}

MadCap|variable.regularnumber
{
	
}

MadCap|pageHeader
{
	font-family: Arial;
	font-weight: bold;
	font-size: 8pt;
	border-bottom: solid 1px #000000;
}

MadCap|pageHeader.EvenPage
{
	border-bottom: solid 1px;
}

MadCap|pageHeader.OddPage
{
	border-bottom: solid 1px;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
}

MadCap|pageFooter.EvenPage
{
	font-size: 10pt;
}

MadCap|pageFooter
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	border-top: solid 1px;
}

MadCap|variable.headercontent
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

p.exampletight
{
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Courier New';
	font-size: 9pt;
	margin-bottom: 0pt;
}

li.diagram
{
	
}

p.comment
{
	font-family: 'Cooper Black';
}

span.comment
{
	font-family: monospace;
}

h1.NonTOCH1
{
	mc-heading-level: 0;
}

p.Landscape
{
	
}

