<#assign readOnly="false">
<#assign disabled="false">
<#if navigation.pageName="edit">
  <#assign title>
    <@s.text name='vsc.safetyCheck.edit.title'/>
  </#assign>
  <#assign formName="edit">
  <#assign submitValue>
    <@s.text name='vsc.safetyCheck.edit.button.submit'/>
  </#assign>
  <#assign disabled="true">
<#elseif navigation.pageName="create">
  <#assign title>
    <@s.text name='vsc.safetyCheck.create.title'/>
  </#assign>
  <#assign formName="create">
  <#assign submitValue>
    <@s.text name='vsc.safetyCheck.create.button.submit'/>
  </#assign>
<#else>  
  <#assign title>
    <@s.text name='vsc.safetyCheck.view.title.single'/>
  </#assign>
  <#assign formName="view">
  <#assign readOnly="true">
</#if>

<html>
<head>
<title>${title}</title>
</head>
<body>
<div class="formBody">
<div class="titleBar">
    ${title}
</div>

<@s.form name="${formName}" id="form1" validate="true" namespaceVal="/${navigation.applicationMenu}/vscsafetycheck" action="${formName}.action" method="POST">
<#if safetyCheckId?has_content>
    <@s.hidden name="safetyCheckId"/>
    <@s.hidden name="savedEntityKey"/>
</#if>
<div class="formTop">
    <@s.select tabindex="1" 
        label="%{getText('vsc.safetyCheck.label.vehicleType')}" 
        name="vehicleType" 
        id="safetyCheck.vehicleType"
        list="vehicleTypeMap"
        listKey="value" 
        listValue="key" 
        readonly="${readOnly}" 
        disabled="${disabled}"
        cssClass="vehicleTypeSelect"/>
    <@s.textfield tabindex="2" 
       label="%{getText('vsc.safetyCheck.label.sequence')}" 
       name="safetyCheck.sequence" 
       id="safetyCheck.sequence" 
       size="15" 
       maxlength="9" 
       show="true" 
       readonly="${readOnly}" 
       required="true"/>   
</div>
<div class="formMiddle">                   
    <@s.textfield tabindex="3" 
       label="%{getText('vsc.safetyCheck.label.spokenDescription')}" 
       name="safetyCheck.spokenDescription" 
       id="safetyCheck.spokenDescription" 
       size="55" 
       maxlength="50" 
       show="true" 
       readonly="${readOnly}" 
       required="true"/>         
    <@s.textfield tabindex="4" 
       label="%{getText('vsc.safetyCheck.label.description')}" 
       name="safetyCheck.description" 
       id="safetyCheck.description" 
       size="55" 
       maxlength="255" 
       show="true" 
       readonly="${readOnly}"
       disabled="${disabled}" 
       required="true"/>    
    <@s.select tabindex="5" 
        label="%{getText('vsc.safetyCheck.label.responseType')}" 
        name="responseType" 
        id="responseType" 
        list="responseTypeMap"
        readonly="${readOnly}" 
        cssClass="responseType"/>
</div>
<div class="formAction">
    
    <#if safetyCheckId?has_content>
        <#if !actionErrors?has_content>
            <#assign submitOnChangeForm="form1">
        </#if>
    </#if>

    <#assign submitIndex=199>
    <#assign cancelIndex=200>

    <#include "/include/form/buttonbar.ftl">
</div>
<#-- Include a modified data div if there is modified data to display -->
<#if modifiedEntity?has_content>
    <div id="modEntity" style="visibility: hidden;">
        <div class="modifiedTitle">
            <@s.text name='vsc.safetyCheck.edit.modifiedEntity.title'/>
        </div>
        <div class="formTop">
            <@s.label label="%{getText('vsc.safetyCheck.label.vehicleType')}" name="modifiedEntity.vehicleType.description" />
            <@s.label label="%{getText('vsc.safetyCheck.label.sequence')}" name="modifiedEntity.sequence" />
            <@s.label label="%{getText('vsc.safetyCheck.label.spokenDescription')}" name="modifiedEntity.spokenDescription" />
            <@s.label label="%{getText('vsc.safetyCheck.label.description')}" name="modifiedEntity.description" />
            <@s.label label="%{getText('vsc.safetyCheck.label.responseType')}" name="modifiedEntity.responseTypeStringValue" />
        </div>
    </div>
    <script language="javascript">
    YAHOO.namespace("example.resize");

    function init() {
        YAHOO.example.resize.panel = new YAHOO.widget.Panel("modEntity",
            {
              width:"450",
              left: 300,
              top: 200,
              constraintoviewport: true,
              fixedcenter: true,
              underlay:"shadow",
              close:true,
              visible:false,
              draggable:true,
              modal:false } );
        YAHOO.example.resize.panel.render();
    }

    YAHOO.util.Event.addListener(window, "load", init);
</script>
</#if>
</@s.form>
</div>


</body>
</html>