* {
    font-family: Arial,Helvetica,San-Serif;
}
  
body {
    padding: 0;
    margin: 0;
}

.mobileHeader {
    background: transparent url(../../images/mobile/header_bg.gif) repeat-x scroll left bottom;
}

.mobileHeader img {
    position: relative;
    top: 3px; 
}

.mobileHeader div.app {
    display: inline;
    font-weight: bold;
    position: absolute;
    top: 20px;
}
  
.mobileHeader div.app a {
    color: #888888;
}
  
.mobileContent {
    border: 1px solid black;
    margin: 2px;
}
  
.mobileContent div.title {
    background-color: #6086B3;
    color: #FAFAFA;
    padding: 2px;
}

.mobileContent div.formTop, 
.mobileContent div.formBottom, 
.mobileContent div.formMiddle, 
.mobileContent div.formAction {
    margin-left: 0px;
    padding-top: 0 0 0 0;
    background: #fff;
    color:#000;
    position:relative;
}

.mobileContent div.formBottom, 
.mobileContent div.formMiddle, 
.mobileContent div.formAction {
    border-top: 1px solid #A5BCCD;
}

.mobileContent div.input,
.mobileContent button {
    margin: 5 0 5 5;
}

.mobileContent span.inputControl {
    position: absolute;
    left: 80px;
}

.mobileContent span.inputControl span{
    font-size:12;
}

.mobileContent div.input label {
    font-weight: bold;
}

.mobileContent div.input select {
    background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 1px;
}

div.blankSpace {
    height: 100px;
}

