  div.simpleDataTableGroup {
    margin-top: 20px;
	width: 100%;
  } 

  div.simpleDataTableGroup div.wwctrl {
    padding-left: 140px;
    margin-top: -15px;
  }

  table.simpleData {
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    width: 100%;
    font-size: 10;
  }
  table.simpleData tr {
    padding-bottom: 0px;
  }
  table.simpleData tr th {
    border-collapse: separate;
    border-right:1px solid #AAAAAA;
    text-align: left;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-top: 2px;
  }
  table.simpleData tr th a {
    color: #3D434C;
  }
  table.simpleData tr th input {
	position: relative;
	left: -1px;
  }
  table.simpleData tr input.checkbox {
	width: 14px;
	height: 14px;
	margin: 0px;
	border: 0px;
  }
  table.simpleData tr.odd {
    background: #FFFFFF;
  }
  table.simpleData tr.even {
    background: #DAE5F6;
  }
  table.simpleData tr td {
    border-collapse: separate;
    border-right: 1px solid #AAAAAA;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-size: 11;
  }
  table.simpleData tr.titleBar {
    height: 6px;
  }
  table.simpleData tr.columnHeaderBar {
    font-size: 11;
    color: #3D434C;
    background: transparent url(../images/gradientTH.gif) repeat-x 0 bottom;
    margin-left: 5px;
  }
  table.simpleData tr th.sortAscending,
  table.simpleData tr th.sortDescending {
    padding-left: 1px;
  }
  table.simpleData tr th div.sortAscending {
    background: transparent url(../images/arrowDown.gif) no-repeat scroll 3px center;
    padding-left: 14px;
  }
  table.simpleData tr th div.sortDescending {
    background: transparent url(../images/arrowUp.gif) no-repeat scroll 3px center;
    padding-left: 14px;
  }
  
/* the simple table wasn't designed to put tables inside of itself. */
/* this fixes a style issue with left-borders showing up on every td. */
  table.innerSimpleTable tr td {
    border: 0px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  table.innerSimpleTable div.wwctrl {
    margin-top: -8px
  }
  div.simpleDataTableGroup table.innerSimpleTable div.wwctrl {
    margin-top: -15px;
  }

  .simpleDataTableScrolling {
	overflow-y:scroll;
  }
  
  .dialogSize {
	height:150px;  
  }
  
  /* Used by phonetic substitutions and embedded training prompts tables */
  
  table.simpleData tr td.iconColumn, table.simpleData tr th.iconColumn {
    background-color:#fff;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
  }
  
  table.simpleData tr.hiddenRow {
    display:none;
  }
  
  .iconColumn div {
    width:80px;
  }
  
  .iconColumn div img {
    margin-right:3px;
  }