th, td {
	font-size: 12px;
	font-family: arial;
	padding: 4px;
	margin: 0;
	border: 1px solid #333;
	
}
table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
	border-bottom: 2px solid #333;
	background: #aaa;
	color: white;
	white-space: nowrap;
}
td {
	vertical-align: top;
	
}
