.progressBar {
    background-color: #AAAAAA;
	width: 202px;
	height: 16px;
	position: relative;
	/* inline-block works in FF but not IE here. */
	display: inline-block;
	top: 3px;
}
.progressBar span.outerSpan {
    background-color: #3D629B;
	position: absolute;
	display: block;
	width: 200px;
	height: 14px;
	top: 1px;
	left: 1px;
	overflow: hidden;
}
.progressBar span.innerSpan {
    background-color: #EEEEEE;
	position: absolute;
	display: block;
	width: 200px;
	height: 14px;
	top: 0;
}