
select.functionSelect{
	width: 150px;
	z-index:1;
}

select.summarySelect{
	width: 325px;
	z-index:1;
}

select.languageSelect{
	width: 200px;
	z-index:1;
}

select.printerSelect{
	width: 180px;
	z-index:1;
}
select.prioritySelect{
	width: 320px;
	z-index:1;
}
select.profileSelect{
    width: 400px;
    z-index:1;
}

select.regionSummaryPromptSelect{
	width: 160px;
	z-index:1;
}

select.promptSelect{
    width: 195px;
    z-index:1;
    float:left;
    display:block;
    clear:both;
}

select.skipSelect{
    width: 100px;
    z-index:1;
}

select.workgroupSelect{
	width: 154px;
	z-index:1;
}

select.operatorTeamSelect{
	width: 200px;
	z-index:1;
}

select.regionSelect{
	width: 154px;
	z-index:1;
}

select.shortsSelect{
	width:168px;
	z-index:1;
}

select.vehicleTypeSelect{
    width:auto;
    z-index:1;
}

select.responseType{
	width:auto;
    z-index:1;
}

div.promptSelector {
	width:400px;
    background-color: #D3D3D3;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000; 
}

div.promptItemContainer {
    background-color: #D3D3D3;
    padding: 5px;
    height: 25px;
}

div.promptAddWrapper {
	margin-bottom:10px;
	width:100%;
	position:relative;
}

div.promptWrapper {
	margin-bottom:8px;
	width:55%;
	position:relative;
}

div.promptRemoveWrapper {
}

div.promptItem {
    background-color: #6086b3;
    color: white;
    border-bottom: 1px solid #000;
    border-right: 1px solid #aaa;    
    border-left: 1px solid #000;
    border-top: 1px solid #aaa;        
    padding: 3px;   
    height: 15px;
    position: absolute;
    top: 5px;  
    cursor: pointer;	
    white-space: nowrap;			  
}

div.selectedPromptItem {
    background-color: #FAFAD2;
    color: black;
}

div.promptItemOptions {
	margin-top:10px;
	border: 1px solid #000000;
	padding:20px 10px 15px 8px;
	position:relative;
}

div.promptConfiguration {
	margin-top:15px;
	border: 1px solid #000000;
	padding:0px 10px 10px 8px;
	position:relative;	
}

div.innerPromptItemOptions {
	border: 1px solid #000000;
	margin-bottom:20px;
	padding:15px;
	position:relative;
}

div.rightPromptOptions {
	position:absolute;
	top:0;
	left:0;
	margin-left:325px;
}

div.optionsDiv_hidden {
	display:none;
}

.optionsInput {
	margin-bottom:10px;	
}

span.optionsTitle {
	color:#000000;
	padding:0px 5px;
	background-color:#FFFFFF;
	font-weight:bold;
  	position:absolute;
  	top:-8px;
}

span.optionsTitle2 {
	color:#000000;
	padding:0px 5px;
	background-color:#FFFFFF;
	font-weight:bold;
  	position:absolute;
	top:-7px;
}

span.previewTitle {
	color:#000000;
	padding:0px 5px;
	background-color:#FFFFFF;
	font-weight:bold;
  	position:absolute;
  	top:-29px;
  	left:-3px;
}

span.promptConfigTitle {
	color:#000000;
	padding:0px 5px;
	background-color:#FFFFFF;
	font-weight:bold;
  	position:absolute;
  	top:-10px;
  	left:5px;
}
