/*
 *  Default styles for the body
 */
* {
	margin: 0;
	padding: 0;
}

body,td,th,div,li,select,input,textarea {
	font-family: Arial, Helvetica, San-Serif;
	font-size: 11px;
}

table {
	border-collapse: collapse;
}

a {
	color: #003366;
}

.slick-row.unread{
    background: #ab3a42;
    font-weight: bold;
    color: #fff;
}

.slick-row.unread.ui-state-active {
	background-color: #3D629B;
	font-weight: normal;
	color: #dddddd;
}

ul>li>span {
	font-size: 11px;
	font-weight: bold;
}

input,textarea {
	padding: 1px;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

select {
	border: 1px solid #000;
	color: #000;
}

option {
	padding-left: 2px;
}

input.inputElement {
	font: 11px/14px Sans-Serif;
}
/*
 *  GENERAL LAYOUT
 */
body {
	text-align: left;
}

#container {
	position: relative;
	margin-left: 0px;
	z-index: 1;
	text-align: left;
	min-width: 660px;
	zoom: 1;
}

#header {
	position: relative;
	height: 48px;
	z-index: 1;
	margin: 0;
	background: url('../images/appHeader/header_bg.png') bottom left
		repeat-x;
}

#middle {
	margin-top: 4px;
	z-index: 3;
}

#contentWrap {
	margin-top: 4px;
}

#content {
	position: relative;
	margin-left: 166px;
	margin-right: 10px;
	margin-top: 0px;
	z-index: 1;
}

#pageBody {
	position: relative;
	margin-top: 10px;
	font-size: 1em;
}

#footer {
	background: url('../images/footer_tile.gif') top left repeat-x;
	height: 76px;
	width: 100%;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
	padding: 30px 0 0 0;
	margin-top: 40px;
	z-index: 0;
}

#timeStamp {
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.titleBar {
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid #aaa;
	background: #6086b3;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	overflow-x: hidden;
	white-space: nowrap;
	font-size: 18px;
}

.titleBar div {
	font-size: 19px;
}

.titleBar div.titleContent {
	font-size: 12px;
	cursor: move;
	width: 100%;
	margin-right: 24px;
	overflow: hidden;
}

.rowCountContent span {
	padding-left: 4px;
}

.internalMenuBar {
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid #aaa;
	background: #336699;
	color: #fff;
	text-align: left;
	font-size: 11px;
}

#topstatus {
	font-family: Tahoma;
	font-weight: bold;
}

#breadcrumbs span.arrows {
	font-size: 11px;
}

#topstatus a {
	color: #1a437f;
}

div.regular {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	overflow : hidden;
}

div.regular .titleBar div {
	font-size: 19px;
	cursor: default;
}

.emphasizeText {
	font-weight: bold;
	font-size: 16px;
	color: #036;
}

div.controlgroup {
	position: relative;
}

/**
 *	SUMMARY OVERRIDE OF TABLE COMPONENT
 */
div.summary .titleBar div {
	font-size: 12px;
	cursor: move;
}

div.summary span.headerText {
	font-size: 11px;
}

/*
 *  TABLE COMPONENT
 */
div.tableDiv {
	position: relative;
	background: #eee;
}

#tc-summary div.tableDiv {
	background: #eee;
}

div.columnNamesContent {
	position: relative;
	width: 95%;
	padding: 10px;
}

div.columnNamesBar {
	position: relative;
}

div.columnNamesBarRight {
	z-index: 2200;
	background: url("../images/internal_menu_right.jpg") #fff repeat-y right;
}

div.addRemoveColumns {
	border-collapse: separate;
	width: 96%;
}

div.addRemoveColumns div {
	width: 20%;
	background: url("../images/gradientTH2.gif") center repeat-x;
	border: 1px solid #999;
	padding: 4px;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	margin: 1px;
	float: left;
}

div.addRemoveProxy {
	width: 20%;
	background: url("../images/gradientTH2.gif") center repeat-x;
	border: 1px solid #999;
	padding: 4px;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	margin: 1px;
}

/* add/remove columns which are selected and in the table */
div.addRemoveColumns div.selected {
	background: #eee;
}

span.headerText {
	font-family: arial;
	font-size: 12px;
	margin-left: 4px;
	white-space: normal;
}

div.restoreMessages{
    text-align:center;
    padding: 5px;
    font-size: 14px;
}

div.closeRestoreBar {
	position: relative;
	color: #036;
	text-align: left;
	font-size: 11px;
	padding-left: 20px;
	padding-bottom: 6px;
}

div.closeRestoreBarLeft {
	position: relative;
	height: 18px;
	background: url('../images/internal_menu_bottomleft.jpg') bottom left
		no-repeat;
}

div.closeRestoreBarRight {
	position: relative;
	height: 18px;
	bottom: 0px;
	background: url('../images/internal_menu_bottomright.jpg') bottom right
		no-repeat;
}

div.closeRestoreBarMiddle {
	position: relative;
	height: 18px;
	background: url('../images/internal_menu_bottommiddle.jpg') bottom
		repeat-x;
}

div.closeRestoreBar a {
	color: #036;
}

/*
 *  SIDE NAVIGATION
 */
#searchMenu {
	position: relative;
	margin-left: 10px;
}

#searchTitle {
	font: 11px Sans-Serif;
	font-weight: bold;
}

#sidenav {
	position: absolute;
	left: 0px;
	background: transparent url("../images/sideNav_topBar.gif") top right
		repeat-y;
	width: 156px;
	z-index: 2;
}

#sidenav ul {
	list-style-type: none;
	font: 11px Sans-Serif;
	background: transparent url("../images/sideNav_link.gif") 0px -30px
		no-repeat;
	color: #333;
	padding: 5px 0 5px 0;
}

#sidenav select,#sidenav input {
	font: 11px Sans-Serif;
}

#sidenav div.menuHeader {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 6px;
	word-wrap: break-word;
}

#sidenav div.spacer {
	background: url("../images/spacer.gif") right no-repeat;
	height: 7px;
	margin: 14px 5px 10px 0px;
}

#sidenav_inside {
	background: transparent url("../images/sideNav_botBar.gif") bottom right
		no-repeat;
	height: 100%;
	padding: 10px 0 20px 0;
}

#sidenav_inside img.top {
	position: absolute;
	margin-top: -10px;
}

#sidenav ul li {
	list-style-image: none;
	position: relative;
	max-height: 100px;
	margin-right: 5px;
}

#sidenav li div.navDropDownContainer,#sidenav li a {
	font-size: 12px;
	background: transparent url("../images/sideNav_link_top.gif") top left
		no-repeat;
	line-height: 16px;
	display: block;
	width: 134px;
	overflow: hidden;
	margin-bottom: -4px;
	padding: 3px 2px 5px 14px;
	color: #666;
}

#sidenav li a:active {
	color: #036;
}

#sidenav li a:hover {
	background: transparent url("../images/sideNav_hover.gif") top left
		no-repeat;
	color: #000;
}

#sidenav li a.disabledAction,#sidenav li a.disabledAction:hover,#sidenav li a.disabledAction:active
	{
	color: #CCC;
	text-decoration: underline;
	cursor: pointer;
}

#sidenav li div.lowerEdge {
	position: relative;
	bottom: 0px;
	height: 4px;
	background: transparent url("../images/sideNav_link_bottom.gif") top
		left no-repeat;
}

#sidenav li.highlight div a,#sidenav li.highlight div a:hover {
	background: transparent url("../images/sideNav_active_top.gif") top left
		no-repeat;
}

#sidenav li.highlight div.navDropDownContainer {
	background: transparent url("../images/sideNav_active_top_dropdown.gif")
		top left no-repeat;
	width: 135px;
}

#sidenav li.highlight div.navDropDownContainer select {
	width: 125px;
	margin-left: 9px;
}

#sidenav li.highlight div a {
	color: #2e4768;
	padding-left: 22px;
	text-decoration: none;
	font-weight: bold;
}

#sidenav li.highlight div.lowerEdge {
	background: transparent url("../images/sideNav_active_bottom.gif") top
		left no-repeat;
}

#sidenav li.highlight select option.optionHighlight {
	font-weight: bold;
}

div#sidenav_handle {
	background: transparent;
	position: absolute;
	right: -2px;
	top: 0px;
	height: 100%;
	width: 7px;
}

div#sidenav_handle img.arrow {
	position: absolute;
	left: -1px;
	top: 45%;
}

#sidenav li select.navDropDown {
	width: 134px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#sidenav li select.navDropDown option.disabledItem,#sidenav li select.navDropDown option.disabledItem:active
	{
	color: #D3D3D3;
}

#sidenav #searchDiv input,#sidenav #searchDiv button {
	vertical-align: middle;
}

#sidenav #searchDiv input {
	margin-right: 2px;
}

/* style for message bubbles that pop off the actions menu */
div.actionBubbleContainer {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 156px;
	z-index: 10;
}

div.actionBubbleContainer div.actionBubbleCarrot {
	background: url('../images/actionBubbleCarrot.gif') left no-repeat;
	width: 14px;
	height: 12px;
	left: 0px;
	position: absolute;
	top: 10px;
	z-index: 20;
}

div.actionBubble {
	position: relative;
	visibility: inherit;
	z-index: inherit;
	width: 301px;
}

div.actionBubbleTop {
	background: url('../images/actionBubbleTop.gif') left bottom no-repeat;
	height: 10px;
	padding: 0;
	margin: 0;
}

div.actionBubbleMiddle {
	background: url('../images/actionBubbleMiddle.gif') left repeat-y;
}

div.actionBubbleBottom {
	background: url('../images/actionBubbleBottom.gif') left no-repeat;
	height: 10px;
}

div.actionBubbleContents {
	width: 275px;
	visibility: inherit;
	font-family: tahoma;
	font-size: 11px;
	color: #000;
	padding-left: 18px;
}
/*
 *  TABULAR NAVIGATION
 */
#apps {
	height: 41px;
	background: none;
	margin: 1px 0 0 6px;
	padding: 2px 0 0 0px;
	position: absolute;
	top: 4px;
	left: 156px;
}

#apps ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	color: #666;
}

#apps li {
	float: left;
	margin: 0;
	height: 41px;
}

#apps a {
	display: block;
	line-height: 41px;
	background: url('../images/appHeader/app_middle.png') repeat-x;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
	font-family: arial;
	color: #888;
	padding-top: 4px;
	text-decoration: none;
	font-weight: bold;
}

#apps li {
	margin-right: 10px;
}

#apps a.select {
	background: url('../images/appHeader/app_middle_select.png') repeat-x;
	color: #fff;
}

#apps a.goRed {
	color: #ab4a42;
}

table.appButton td {
	padding: 0px;
}

/*
*	TABS
*/
#tabs a:hover {
	color: #000;
}

#tabs {
	height: 25px;
	font: normal 12px/18px arial;
	background: url('../images/tabs_back.gif') repeat-x;
	padding: 2px 0 0 160px;
	position: relative;
	margin-top: 6px;
	z-index: 0;
}

#tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	height: 23px;
	color: #666;
}

#tabs li {
	float: left;
	background: url('../images/leftTab_fade.gif') no-repeat left top;
	margin: 0;
	height: 23px;
	padding: 0 0 0 14px;
}

#tabs a {
	float: left;
	display: block;
	width: auto;
	background: url('../images/rightTab_fade.gif') no-repeat right top;
	padding: 3px 19px 3px 4px;
	text-decoration: none;
	margin: 0;
	font-weight: bold;
	height: auto;
	color: #666;
}

#tabs>ul a {
	width: auto;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a {
	float: none;
}
/* End IE5-Mac hack */
#tabs li.select {
	background: url('../images/leftTab_face.gif') no-repeat left top;
}

#tabs li.select a {
	background: url('../images/rightTab_face.gif') no-repeat right top;
	color: #333;
	cursor: default;
}

#tabs li.disabledTab a {
	color: #BBB;
}

#tabs div.detailsBubbleContainer {
	position: relative;
	z-index: 10;
}

#tabs ul li.disabledTab div.detailsBubbleContainer div.viewDetailsDiv div.midBubble
	{ /* must reset the left margin for tab security bubbles */
	margin-left: 0px;
}

/*
 *  HEADER LAYOUT
 */
#logo {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: url('../images/appHeader/header_logo.png');
	width: 72px;
	height: 41px;
	z-index: 1;
}

#leftHeaderPatterns {
	position: relative;
	float: right;
	text-align: right;
	color: #37424c;
	padding: 2px;
	z-index: 20;
}

#leftHeaderPatterns a {
	padding: 0px 2px 0px 2px;
	text-decoration: underline;
	color: #37424c;
}

#leftHeaderPatterns a:hover {
	color: #777;
}

#leftHeaderPatterns span.title {
	font-weight: bold;
}
/*
 *  HOMEPAGE LAYOUT
 */
#homepage {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	border-top: 1px #aaa solid;
}

div.component {
	margin-left: 0px;
	margin-right: 4px;
}

div.componentTop {
	background: url('../images/componentTop.gif') no-repeat;
	width: 385px;
	height: 19px;
}

div.componentMiddle {
	background: url('../images/componentMiddle.gif') repeat top;
	width: 385px;
}

div.componentBottom {
	background: url('../images/componentBottom.gif') no-repeat;
	width: 385px;
	height: 19px;
}

div.text {
	margin-left: 20px;
	margin-right: 20px;
}

a.homeTitle {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
	color: #58697e;
}

a.homeTitle:hover {
	color: #78899e;
}

span.special {
	color: #2067be;
	font-weight: bold;
}

ul.special {
	padding-left: 20px;
}

a.special {
	color: #2067be;
}

a.special:hover {
	color: #6184b0;
}
/*
 *  LOGIN PAGE LAYOUT
 */
#login {
	position: relative;
	background: url('../images/loginBox.gif') no-repeat;
	width: 404px;
	height: 272px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
}

#login div.title {
	margin-left: 42px;
	padding-top: 6px;
	color: #37424c;
	font-family: tahoma;
	font-size: 1.6em;
	font-weight: bold;
}

#login div.formdata {
	margin-top: 40px;
	margin-left: 50px;
}

#login div.submit {
	margin-top: 10px;
	margin-left: 130px;
}

#login td {
	padding: 4px;
	font-size: 1.1em;
	color: #37424c;
	font-weight: bold;
	line-height: 40px;
}
/*
 * OPERATOR LOGIN PAGE LAYOUT ADJUSTMENTS
 */
#login div.operatorLogin {
	margin-top: 20px;
}

#login div.operatorLogin td {
	line-height: 25px;
}

#information {
	position: absolute;
	width: 250px;
	margin: 50px;
	padding: 10px;
	border: 1px #456e96 solid;
	color: #003366;
}

#listUserTableDiv {
	border: 1px solid #000;
}
/*
 *  GENERAL FORM LAYOUT
 */
div.formBody {
	border: 1px solid #000;
	position: relative;
}

div.formBreak {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}

div.formMiddleNoLine {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	background: #fff;
	color: #000;
}

div.formTop,div.formBottom,div.formMiddle,div.formAction {
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 20px;
	background: #fff;
	color: #000;
	position: relative;
}

div.formMiddlePadded {
	padding-top: 10px;
}

div.formMiddle {
	border-top: 1px solid #a5bccd;
	overflow: visible;
}

div.formBottom {
	border-top: 1px solid #a5bccd;
}

div.formAction {
	border-top: 1px solid #a5bccd;
	padding-top: 10px;
	height: 20px;
}

a.anchorButton {
	background: #ddd;
	border-top: none;
	border-left: none;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
	color: #4b7ac9;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
}

a.anchorButton:hover {
	text-decoration: underline;
}

a.anchorButtonNoMargin {
	background: #ddd;
	border-top: none;
	border-left: none;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 10px 4px 10px;
	color: #4b7ac9;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
}

button.loginButton {
	background: #ddd;
	border-top: none;
	border-left: none;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
	color: #4b7ac9;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
}

button.mouseover {
	text-decoration: underline;
}

a.disabled {
	color: #aaa;
	cursor: default;
}

a.disabled:hover {
	text-decoration: none;
}

button.mouseover {
	text-decoration: underline;
}

div.features {
	margin-left: 20px;
	line-height: 18px;
}

select.statusSelect {
	width: 80px;
	z-index: 1;
}

select.userStatusSelect {
	width: 120px;
	z-index: 1;
}

select.operatorSelect {
	width: 110px;
	z-index: 1;
}

#addButton {
	float: left;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
	top: -4px;
}

#removeButton {
	float: left;
	margin-left: 420px;
	position: relative;
	top: -25px;
}

/*
 *  VALIDATION
 */
div.logAttributes {
	padding: 20px;
}

div.logAttributes table,td,tr,th {
	font-size: 1em;
}

div.logDisplayEven {
	background: #dae5f6;
	padding: 4px;
}

div.logDisplayOdd {
	background: #fafafa;
	padding: 4px;
}

div.logDisplayMessage {
	background: #fafafa;
	font-size: 1.5em;
	font-weight: bold;
}

button.login {
	padding-left: 0px;
	height: 20px;
	font-family: tahoma;
	font-weight: bold;
	text-decoration: underline;
	font-size: 13px;
	color: #003366;
	margin: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

#linkImg {
	position: absolute;
}

#linkText {
	position: relative;
	left: 20px;
}

ul.doit {
	margin-left: 20px;
	margin-top: 6px;
	margin-bottom: 6px;
}

ul.featureGroup {
	margin-left: 30px;
	padding: 3px;
}

/* Entry has been modified */
#modifiedEntity {
	position: absolute;
	border: 1px solid #333;
	background: #fff;
	visibility: hidden;
	width: 500px;
	top: 10px;
	left: 400px;
	z-index: 4;
}

div.modifiedTitle {
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid #aaa;
	background: #6086b3;
	font-weight: bold;
	color: #fff;
	font-size: 19px;
}

/*
* System Configuration
*/
div.systemConfig {
	padding: 20px;
}

div.systemConfig table,div.systemConfig td,div.systemConfig tr,div.systemConfig th
	{
	font-size: 1em;
	padding-bottom: 20px;
}

div.systemConfigIndent {
	margin-left: 10px;
}

div.systemConfigMessage {
	background: #fafafa;
	font-size: 1.5em;
	font-weight: bold;
}

/*
* NOTIFICATION SPECIFIC CSS
*/
.notFormBody {
	position: relative;
	background: #fff;
	padding: 4px;
}

.notFormBody td {
	font-size: 12px;
}

td.regularTable {
	font-size: 12px;
	padding-right: 4px;
}

.unAck {
	color: #AB3A42;
}

table.component tr.select {
	background: #3d629b;
}

.notTd {
	width: 200px;
	font-weight: bold;
	font-size: 12px;
}

.notDiv {
	background: #fff;
	border: 1px solid #aaa;
}

.licenseError {
	float: left;
	color: #CC3300;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: -5px;
	margin-left: 142px;
	position: relative;
}

a span.unlicensed {
	color: #CC3300;
	margin: 0;
	text-decoration: underline;
}

.sysHide {
	display: none;
	visibility: hidden;
}

.sysText {
	font-size: 2px;
	font-weight: bold;
}

.notLink {
	color: #000099;
}

/*
* SEARCH SPECIFIC CSS
*/
#BubbleSearchAreas {
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 156px;
	z-index: 10;
	text-align: left
}

#BubbleSearchSites {
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 156px;
	z-index: 10;
	text-align: left;
}

.searchCheckboxes {
	margin-top: 10px;
	font-weight: normal;
}

.searchCheckboxes input {
	margin: 0px 5px 0px 20px;
	border: none;
	height: 14px;
	width: 14px;
}

#tableActions a.tabLink {
	padding-left: 30px;
	padding-right: 30px;
}

#tableActionsExpanded {
	display: none;
}

.calendar {
	color: gray;
}

.searchtext {
	width: 55px;
	height: 15px;
	border-color: #6D85A5;
	line-height: 12px;
}

.searchbutton {
	position: relative;
	top: -4px;
	height: 15px;
	width: 22px;
	padding: 0px;
	color: white;
	margin: 0px 3px 0px 0px;
	background-color: #6086B3;
	border-color: #C7D9EE #738FAF #738FAF #C7D9EE;
	cursor: pointer;
	line-height: 12px;
}

.searchtable {
	padding: 0px;
	position: relative;
	margin: 0px 0px 0px 3px;
	top: 0px;
}

.searchtable tr {
	padding: 0px;
	margin: 0px;
}

.searchtable tr td {
	padding: 0px 2px 0px 2px;
	margin: 0px;
}

#results a {
	color: #6086B3;
}

.area {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 1px 1px 0px 1px;
	border: 1px solid #000000;
}

.area .hd {
	background-color: #6086B3;
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 2px;
	margin-bottom: 1px;
}

.area .hd img {
	margin-right: 5px;
	cursor: pointer;
}

.area .bd {
	padding: 5px;
	display: block;
}

.area .bd img {
	margin-right: 5px;
	cursor: pointer;
}

.area .bd a {
	margin-left: 17px;
}

.area .bd .results {
	margin-bottom: 10px;
}

#SearchContent {
	margin-left: 0px;
}

#SearchContent div#listUsersTableDiv {
	border-right: 1px solid rgb(170, 170, 170);
	border: 1px solid rgb(170, 170, 170);
}

#listUsersTableDiv div#SearchContentTitle {
	font-size: 25px;
}

#results {
	padding: 20px 0px 20px 20px;
}

#results table td {
	font-weight: bold;
	font-size: 14px;
}

.areaname {
	font-weight: bold;
}

/*
 *  Styles for form control group divs output by WW tags
 */
ul.site {
	padding-left: 10px;
}

ul.site select {
	width: 70px;
}

div.sites {
	margin-left: 20px;
	line-height: 18px;
}

div.siteInfo {
	margin-left: 14px;
}

select.site {
	width: 134px;
	z-index: 1;
}

div.wwctrl{
    position:relative;
    font-size: 11px;
    padding-top: 10px;
    padding-left:15px;
    border: none;
}

div.wwgrp {
	position: relative;
}

div.wwerr {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 3px;
	display: block;
	height: 20px;
}

div.wwnbgrp {
	position: relative;
}

div.wwnbgrp div.wwerr {
	margin-left: 0px;
}

div.wwctrlgrp {
	position: relative;
}

table.wwctrlgrp_table {
	position: relative;
}

div.wwlbl {
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 1px;
}

table.wwctrlgrp_table tr td {
	padding: 0px;
}

table.wwctrlgrp_table tr td.wwlbl_td {
	width: 125px;
}

.scheduleTime table.wwctrlgrp_table td.wwlbl_td {
	width: 10px;
}

.scheduleTime div.wwctrl {
	padding-left: 5px;
}

div.wwctrl {
	position: relative;
	font-size: 11px;
	padding-top: 3px;
	padding-left: 15px;
}

div.wwctrl a div {
	display: inline;
}

div.wwctrlopr {
	position: relative;
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 4px;
}

div.moreErrors {
	position: absolute;
	z-index: 3;
	left: -11px;
	bottom: 12px;
	visibility: hidden;
}

div.moreErrorsTop {
	position: relative;
	background: url('../images/messageBubbleTop.gif') left bottom no-repeat;
	width: 301px;
	height: 10px;
	padding: 0;
	margin: 0;
}

div.moreErrorsMiddle {
	position: relative;
	background: url('../images/messageBubbleMiddle.gif') left repeat-y;
	width: 301px;
	font-family: tahoma;
	font-size: 11px;
	color: #000;
	padding-left: 9px;
	overflow: auto;
}

div.moreErrorsBottom {
	position: relative;
	background: url('../images/messageBubbleBottom.gif') left no-repeat;
	width: 301px;
	height: 18px;
}

a.moreErrorsLink {
	font-size: 11px;
	color: #5886e3;
}

span.moreErrorsIntro {
	text-decoration: underline;
}

ol.moreErrorsList {
	margin-left: 24px;
	margin-right: 20px;
}

div.wwnbgrp ol.moreErrorsList {
	width: 220px;
}

label.readonly {
	margin-right: 6px;
}
/* End control group styles */

/*
 *  MESSAGING LAYOUT
 */
div.messageContainer {
	top: 0;
	margin: 0;
	visibility: hidden;
	background: #41cc2d;
	padding: 4px;
	border: 2px solid #fff;
}

div.messageContainer span {
	position: relative;
	font-size: 13px;
	text-align: left;
	color: #333;
	font-family: 'Tahoma';
	font-weight: bold;
}

div.error {
	background: #c00;
}

div.error span {
	color: #fff;
}

div.partial,div.waiting {
	background: #f7f37a;
}

div.messageContainer a {
	color: #000;
}
/*
 *  styles for Struts UI tags
 */
.label {
	font-size: 11px;
	font-weight: bold;
}

.labelRelative {
	position: relative;
	font-size: 11px;
	font-weight: bold;
}

.disabled {
	color: gray;
}

.errorMessage {
	float: left;
	color: #CC3300;
	font-size: 11px;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.errorText {
	color: red;
	font-weight: bold;
}

.filterBoxError {
	border: thin solid #F33210;
}

/*
 *  Error messages displayed in More Info
 */
.listErrorMessage {
	color: #CC3300;
	font-size: 11px;
	font-weight: bold;
	margin-right: 10px;
}

.listSuccessMessage {
	color: #339933;
	font-size: 11px;
	font-weight: bold;
}

.narrowListErrorMessage {
	color: #CC3300;
	font-size: 11px;
	font-weight: bold;
	width: 200px;
}

#messageX {
	position: absolute;
	cursor: pointer;
	padding: 0;
	margin: 0;
	top: 1px;
	right: 1px;
	width: 14px;
	height: 14px;
}

#messages div.white {
	background: url('../images/close_x_white.png');
}

#messages div.black {
	background: url('../images/close_x_black.png');
}

* html #messageX {
	background-image: none;
}

* html #messages div.white {
	background-image: none;
}

* html #messages div.black {
	background-image: none;
}

#messages {
	z-index: 51;
	padding-right: 20px;
	padding-left: 6px;
	position: fixed;
}

#messages .error {
	color: #fff;
}

input.checkbox {
	border-style: none;
	width: 14px;
	height: 14px;
	margin-left: 4px;
	vertical-align: middle;
}

input.radio {
	border-style: none;
	width: 16px;
	height: 16px;
}

input.radioSchedule {
	border-style: none;
	width: 35px;
	height: 16px;
}

.radioLabel {
	position: absolute;
	font-size: 10px;
}

.checkboxLabel {
	
}

label.checkboxLabel {
	font-size: 11px;
}

.checkboxGroupLabel {
	font-weight: bold;
	font-size: 12px;
}

.checkboxErrorLabel {
	color: #9e2f2f
}

.required {
	font-weight: bold;
	color: #9e2f2f
}
/* Message Bubbles */
div.viewDetailsDiv {
	position: absolute;
	z-index: 3;
	left: 25px;
	top: 24px;
	visibility: hidden;
}

div.viewDetailsDiv div.topBubble {
	background: url('../images/bubbleTop.gif') left no-repeat;
	width: 301px;
	height: 18px;
	font-size: 4pt;
}

div.viewDetailsDiv div.midBubble {
	background: url('../images/bubbleMiddle.gif') left repeat-y;
	width: 301px;
	height: 100px;
	font-family: tahoma;
	font-size: 11px;
	color: #000;
	padding-left: 10px;
	overflow: auto;
	text-align: left;
	margin-left: 10px;
}

div.viewDetailsDiv div.midContentsBubble {
	padding-left: 10px;
	width: 260px;
}

div.viewDetailsDiv div.midContentsBubble ul {
	margin-left: 10px;
}

div.viewDetailsDiv div.midBubbleTextDiv {
	overflow: auto;
	width: 270px;
}

div.viewDetailsDiv div.midBubbleTextDiv * {
	background: none;
}

div.viewDetailsDiv div.botBubble {
	background: url('../images/bubbleBottom.gif') left top no-repeat;
	width: 301px;
	height: 10px;
}

div.viewDetailsDiv span.title {
	text-decoration: underline;
	background: none;
	display: block;
	font-weight: bold;
}

div.viewDetailsDiv span {
	color: #000;
}
/*
 *  Styles for the System Configuration page
 */
.configurationHeading {
	color: #2E4768;
	font-weight: bold;
}

/*
 *  Styles for Error Pages
 */
#errorPageContent {
	margin-left: 30px;
	margin-bottom: 20px;
	padding-top: 6px;
	font-family: tahoma;
	color: #37424c;
	font-size: 14px;
}

#errorPageContent p {
	margin-top: 20px;
}

/* End styles for Error Pages */

/* style for top status bar */
#topstatus {
	margin-left: 166px;
	height: 1.5em;
}

#breadcrumbs {
	float: left;
}

.rowCount {
	color: #fff;
	background: #6086b3;
	position: relative;
	height: 14px;
}

.unfocus {
	color: #d1d1d0;
	background: #9f9f9e;
}

.updateError {
	background: #dd3124 url('../images/exclamation.gif') left no-repeat;
}

#updateErrorBox {
	position: absolute;
	visibility: hidden;
	z-index: 200;
	padding: 2px;
	margin: 5px;
	margin-top: 0px;
	margin-right: 2px;
	top: 23px;
	left: -1px;
	background: White;
	border: 1px solid #2e598b;
	border-top: none;
}
/* 
 * Styles for session timeout dialog
 *
 */
#overlaybase {
	z-index: 100;
	background-color: #476685;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity =   50); /* IE opacity fix */
	opacity: .50;
	-moz-opacity: .50;
	display: none;
	text-align: center;
}

#overlaytitle {
	background-color: #4682B4;
	color: White;
	text-align: left;
	font-weight: bold;
	height: 20px;
	padding-left: 10px;
	border-bottom: 1px solid Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#overlaybody {
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	padding: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#overlay {
	position: absolute;
	left: 300px;
	top: 150px;
	width: 350px;
	border: navy solid 1px;
	padding: 10px;
	z-index: 102;
	padding: 0;
	display: none;
}

#overlaytext {
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 10px;
}

div.mask {
	z-index: 200;
}

#modEntity {
	z-index: 2;
}

/* End of style for session timeout dialog */

/* End of style for top status bar */

/* Configurable Homepage specific Styles */
.homepageSummaries {
	table-layout: fixed;
}

#panelContainer {
	width: 100%;
}

#panelContainer table {
	width: 100%;
}

#panelContainer table tr td.summaryTD {
	vertical-align: top;
	height: 100%;
	width: 33%;
	border: 1px dashed #DDDDDD;
	padding: 5px;
}

.summary {
	width: 100%;
	height: 200px;
}

.blank {
	width: 100%;
	height: 200px;
	font-size: 11px;
	text-align: center;
}

.close {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 14px;
	height: 14px;
	border-style: none;
	border-width: 0px;
}

.summary div.titleBar div.titleContent {
	font-size: 12px;
	cursor: move;
	width: 92%;
	overflow: hidden;
	position: absolute;
}

.summary .internalMenuBar {
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid #aaa;
	background: #336699;
	color: #fff;
	text-align: left;
	font-size: 11px;
}

.summary div.titleBar {
	height: 20px;
	padding: 6px 6px 2px 6px;
	border-bottom: 1px solid #aaa;
	background: #6086b3;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	overflow-x: hidden;
	white-space: nowrap;
	font-size: 12px;
}

.summary div.unfocus {
	color: #d1d1d0;
	background: #9f9f9e;
}

.summary .slick-header {
	height: 24px;
}

/* End of Configurable Homepage specific styles */
a.generalLink {
	color: #003366;
}

div.marginedDiv {
	padding: 6px;
}

/* ****** Filtering styles ******* */
div.autocomplete {
	position: absolute;
	width: 250px;
	height: 30em;
	overflow: auto;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	background-color: #ffb;
}

div.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	height: 1em;
	cursor: pointer;
}

span.removeFilter {
	padding: 0px 0px 0px 4px;
}

.autoCompleteContainer {
	position: relative;
}

.autoCompleteText {
	position: relative;
	width: 20em;
	height: 1.4em;
}

.autoCompleteList {
	position: absolute;
	left: 0;
	top: 2em;
	position: absolute;
}

.autoCompleteList .yui-ac-content {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	width: 20em;
	height: 10em;
	border: 1px solid #404040;
	background: #fff;
	overflow: auto;
	text-align: left;
	z-index: 9050
}

.autoCompleteList .yui-ac-bd {
	margin: 0;
	padding: 0 4px 0 5px;
}

.autoCompleteList .yui-ac-shadow {
	position: absolute;
	left: 0;
	top: 0;
	margin: .3em;
	background: #a0a0a0;
	z-index: 9049;
}

.autoCompleteList ul {
	padding: 0;
	width: 100%;
}

.autoCompleteList li {
	padding: 0;
	cursor: default;
	list-style: none;
	white-space: nowrap;
}

.autoCompleteList li.yui-ac-highlight {
	background: #ff0;
}

div.yui-panel-container div.title {
	background: #6086B3;
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin: 0pt;
	padding: 5px;
}

div.yui-panel-container div.button {
	display: block;
	margin: 0pt;
	padding: 12px 12px 12px 0px;
}

div.yui-panel-container div.bd {
	margin: 5px;
	padding: 0;
}

table.yahootable {
	margin: 4px;
	border-collapse: separate;
}

div.bd a {
	font-family: Arial, Helvetica, San-Serif;
	font-size: 12px;
}

div.bd td.border {
	background: transparent url(../images/gradientTH2.gif) repeat-x scroll
		center;
	border: 1px solid #999999;
	overflow: hidden;
	padding: 6px;
	white-space: nowrap;
	width: 25%;
}

select.filterDropDown {
	margin-right: 6px;
}

input.filterInput {
	margin-right: 6px;
}

div.filter div {
	padding: 4px;
	/*	border: 1px solid #fff; */
	margin: 2px;
}

div.filter div.savedCriteria {
	border: 1px solid #666;
	background: #ddd;
}

a.intMenuLink {
	margin-right: 3px;
	color: #DDD;
	padding: 2px 5px;
	padding-bottom: 6px;
	text-decoration: none;
}

a.intMenuLinkSelected {
	color: #000;
	background-color: #FFF;
}

a.filterLink {
	color: #036;
	margin: 6px;
}

span.filterLockedSpan {
	margin-right: 10px;
}

div.filter div.lockedCriteria {
	border-bottom: 1px solid #666;
}

span.titleBarColumnNames {
	margin-left: 10px;
	font-size: 12px;
	position: relative;
	top: -1px;
	overflow: hidden;
}

/* time filtering styles */
div.titleDropdown {
	position: absolute;
	top: 3px;
	right: 30px;
	font-size: 10px;
	background: #6086B3;
}

div.titleDropdown a {
	text-decoration: none;
	color: #ddd;
}

div.titleDropdownSelected {
	width: 110px;
	border-top: 1px solid #e0dfe3;
	border-left: 1px solid #e0dfe3;
	border-right: 1px solid #636A72;
	border-bottom: 1px solid #636A72;
	position: relative;
	padding: 1px 1px 1px 3px;
}

div.unfocus {
	background: #9f9f9e;
}

div.titleDropdownSelected a {
	display: block;
}

div.titleDropdownSelected img.downArrow {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 3px;
	right: 4px;
	border: 0px;
}

div.titleDropdownOptions {
	width: 100px;
	position: absolute;
	background-color: #6086b3;
	border-top: 1px solid #e0dfe3;
	border-left: 1px solid #e0dfe3;
	border-right: 1px solid #797979;
	border-bottom: 1px solid #797979;
	padding: 3px;
	top: 21px;
	visibility: hidden;
}

div.titleDropdownOptions a {
	display: block;
}

div.titleDropdownOptions a:hover {
	background-color: #336699;
}

.yui-u-thinner {
	width: 300px;
	float: left;
}

.first-thinner {
	width: 300px;
	float: left;
	margin-right: 20px;
}

/* This is VC Stuff and needs to be put in their CSS */

/*
 *  In Use Dialog box tables
 */
#inUseTable {
	font-family: Arial, Helvetica, San-Serif;
	font-size: 11px;
	border-collapse: collapse;
	margin-top: 7px;
	margin-left: 15px;
}

#inUseTable tr td {
	padding: 0px 15px 0px 15px;
	margin: 0px;
	font-weight: normal;
}

#inUseTable tr td#noindent {
	padding-left: 0px;
	padding-bottom: 7px;
}

/*
 *  Load/Associate Voice
 */
.voiceDisplay {
	float: left;
}

#sideNav cascadingNav {
	zoom: 1 !important;
}

#cascadingSideBar li {
	background: transparent url("../images/sideNav_link_top.gif") top left
		no-repeat;
	position: relative;
	width: 100%;
}

#cascadingSideBar li li {
	position: static;
	z-index: 1;
}

#cascadingSideBar li ul {
	display: none;
	position: absolute;
	z-index: 1;
	width: 145px;
	top: 0;
	left: 154px;
	margin: 0;
	margin: 0px 10px 0px 0px;
	padding: 0px 1px 0px 0px;
	border: 1px solid #4a698f;
	background: #fff;
}

#cascadingSideBar li.hover ul {
	display: block;
	position: absolute;
}

#cascadingSideBar li ul a:hover,#cascadingSideBar li.hover {
	background: transparent url("../images/sideNav_hover.gif") top left
		no-repeat;
	color: #000;
}

#cascadingSideBar li a:hover {
	background: transparent url("../images/cascading_arrow.gif") right
		center no-repeat;
	padding-right: 10px;
}

#cascadingSideBar li a {
	background: transparent url("../images/cascading_arrow.gif") right
		center no-repeat;
	padding-right: 10px;
	display: block;
	width: 130px;
	margin-bottom: -4px;
	padding-bottom: 8px !important;
}

#cascadingSideBar li ul li a {
	width: 130px;
	background: url("../images/sideNav_link_top.gif") top left no-repeat;
}

.alignRight {
	float: right;
}

.hiddenCache {
	display: none;
}

.grayOperatorListData {
	color: #bbb;
}

/*
 * Table Component 2.0 styles
 */
.table_component {
	height: 500px;
	border: 1px solid #bbb;
}

.table_component_summary {
	height: 100%;
	border: 1px solid #bbb;
}

.menuContainer {
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	background-color: #fff;
}

.emptyDiv {
	display: none;
	position: absolute;
	top: 30%;
	left: 20%;
	width: 60%;
	height: 200px;
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

#canvas {
	position: relative;
	height: 550px;
}
