/*<meta />*/

/*
 *  Default styles for the body
 */

body,
td,
th,
div,
span,
li,
a,
select,
input,
textarea
{
	font-family: Arial, Helvetica, San-Serif;
	font-size: 11px;
}

h1
{
	color: #1a437f;
	font-size: 16pt;
	line-height: 18pt;
}

table
{
	border-color: #000000;
	border-collapse: collapse;
	border: solid 1px;
	padding: 4px;
}

td.fieldname
{
	font-weight: bold;
	font-size: 9pt;
}

th
{
	color: #ffffff;
	font-size: 10pt;
	background-color: #1a437f;
	border: solid 1px;
}

td.tdHead
{
	font-weight: bold;
	text-align: center;
}

td
{
	border: solid 1px;
	border-color: #000000;
	margin: 0em;
	font-size: 10pt;
	vertical-align: top;
}

p.tabletext
{
	font-size: 10pt;
	margin-bottom: 2px;
}

p
{
	font-size: 10pt;
}

ol
{
	display: block;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	margin: 1.12em;
	margin-right: 0em;
	margin-left: 20px;
}

ol li
{
	list-style: decimal;
	margin-top: .4em;
	margin-bottom: .4em;
}

li.numberli
{
	font-family: Arial, Helvetica, San-Serif;
	font-size: 10pt;
	margin-top: 6pt;
	line-height: 12pt;
}

li
{
	margin-top: 6pt;
	font-size: 10pt;
	line-height: 12pt;
}

body
{
	
}

span.ActionLink
{
	font-family: Arial, Helvetica, San-Serif;
	font-weight: bold;
	font-size: 10pt;
}

span.FieldName
{
	font-family: Arial, Helvetica, San-Serif;
	font-weight: bold;
	line-height: 12pt;
	font-size: 10pt;
}

span
{
	line-height: 12pt;
}

span.ActionButton
{
	font-family: Arial, Helvetica, San-Serif;
	font-weight: bold;
	font-size: 10pt;
}

span.Emphasis
{
	font-weight: bold;
	font-size: 10pt;
}

MadCap|glossaryTerm
{
	font-size: 10pt;
}

h2
{
	color: #1a437f;
	font-size: 14.5pt;
}

a
{
	font-size: 10pt;
}

span.FieldValue
{
	font-family: Arial, Helvetica, San-Serif;
	font-weight: bold;
	line-height: 12pt;
	font-size: 10pt;
}

span.PageName
{
	font-weight: bold;
	font-size: 10pt;
}

h3
{
	color: #1a437f;
	font-size: 13pt;
}

p.Caption
{
	font-size: 9pt;
	font-weight: bold;
	mc-auto-number-offset: 0px;
	mc-auto-number-format: 'Figure {n+}  ';
}

p.DocumentTitle
{
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}

h4
{
	color: #1a437f;
	font-size: 11pt;
}

p.note
{
	color: #1a437f;
	font-style: italic;
	font-size: 10pt;
}

span.MenuCommand
{
	font-family: Arial, Helvetica, San-Serif;
	font-weight: bold;
	font-size: 10pt;
}

p.NonHeadingHead
{
	font-size: 16pt;
	font-weight: bold;
	color: #1a437f;
	page-break-before: always;
}

p.CaptionHead
{
	font-size: 10pt;
	font-weight: bold;
}

p.WritersCommentPara
{
	font-family: 'Comic Sans MS';
	font-size: 12pt;
	color: #b22222;
}

span.WritersCommentChar
{
	font-family: 'Comic Sans MS';
	font-size: 12pt;
}

p.NoIndent
{
	margin-left: 0in;
	margin: 0;
	margin-bottom: 6px;
}

ul
{
	font-family: Arial;
	font-size: 10pt;
}

span.appName
{
	font-weight: bold;
	font-size: 10pt;
}

table.invisibleTable
{
	border: none 1px;
}

p.tabletextHead
{
	font-size: 11pt;
	color: #1a437f;
	font-weight: bold;
}

p.invisibleTd
{
	
}

td.invisibleTd
{
	border: none 1px;
	vertical-align: top;
}

li.subList
{
	list-style-type: circle;
	margin-left: 0.75in;
}

p.indent
{
	margin-left: 0.40in;
}

MadCap|dropDown.DropDownText
{
	
}

li.subSubList
{
	list-style-type: square;
	text-indent: 0in;
	margin-left: 1.25in;
}

