/*<meta />*/

h1
{
	font-size: 24pt;
	font-weight: bold;
	color: #003882;
	font-family: 'Arial Black', Helvetica, sans-serif;
}

h2
{
	font-size: 18pt;
	font-weight: bold;
	color: #667799;
	font-family: Arial, Helvetica, sans-serif;
}

h3
{
	color: #868e7b;
	font-weight: bold;
	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
}

h4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

p
{
	margin-bottom: 12pt;
	margin-top: 6pt;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

h5
{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

li
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 6pt;
}

p.warning
{
	border: solid 1px;
	font-weight: bold;
	font-style: normal;
}

p.note
{
	font-weight: bold;
	color: #003882;
}

p.example
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 9pt;
}

p.exampleIndent
{
	padding-left: 50px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 9pt;
}

p.noteIndent
{
	color: #003882;
	font-weight: bold;
	padding-left: 40px;
}

p.warningIndent
{
	padding-left: 50px;
	border: solid 1px;
}

p.indent
{
	padding-left: 40px;
}

p.navigation
{
	font-size: 9pt;
	color: #9ba6bd;
}

span.guilabel
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

span.prodname
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: italic;
}

span.filename
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

span.firstterm
{
	font-family: Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 10pt;
}

span.example
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 10pt;
}

th
{
	font-size: 10pt;
	font-family: Verdana, Helvetica, sans-serif;
}

tr
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

var
{
	font-size: 10pt;
	font-family: Verdana, Helvetica, sans-serif;
}

em
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

MadCap|glossaryTerm.Popup
{
	color: #667799;
	font-family: Verdana, Helvetica, sans-serif;
}

MadCap|glossaryTerm.Popup:focus
{
	color: #9ba6bd;
}

MadCap|glossaryTerm.Popup:hover
{
	color: #9ba6bd;
}

MadCap|glossaryTerm
{
	color: #667799;
	font-weight: normal;
	font-family: Verdana, Helvetica, sans-serif;
}

MadCap|dropDownHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}

MadCap|dropDownHotspot
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: underline;
	color: #0000ff;
}

li.sublist
{
	margin-left: 30px;
}

span.docname
{
	font-style: italic;
}

li.userinput
{
	
}

@media non-print
{
	li.userinput
	{
		font-weight: bold;
	}

	span.userinput
	{
		font-weight: bold;
	}

	p.noteIndent
	{
		padding-left: 40px;
	}

	MadCap|glossaryTerm
	{
		font-family: Verdana, Helvetica, sans-serif;
	}

	a.GlossaryPageTerm
	{
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 10pt;
	}

	a
	{
		font-size: 10pt;
		font-family: Verdana, Helvetica, sans-serif;
	}

	div.GlossaryPageDefinition
	{
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 10pt;
	}

	div.GlossaryPageEntry
	{
		font-family: Verdana, Helvetica, sans-serif;
	}

	div
	{
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 10pt;
	}

	p.tabletextHead
	{
		vertical-align: top;
		font-weight: bold;
	}

	p.indent
	{
		margin-left: 50px;
		padding-left: 40px;
	}

	p.exampleIndent
	{
		margin-left: 50px;
		padding-left: 40px;
	}

	p.warningIndent
	{
		font-weight: bold;
	}

	MadCap|dropDownHead
	{
		color: #000000;
	}

	MadCap|dropDownHotspot
	{
		color: #0000ff;
	}

	li.nospace
	{
		margin-bottom: 0pt;
	}

	p.nospace
	{
		margin-bottom: 0pt;
		margin-top: 0pt;
	}
}

span.userinput
{
	font-weight: bold;
}

p.intro
{
	font-weight: bold;
}

a.GlossaryPageTerm
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

div
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

a
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

td
{
	vertical-align: top;
}

p.tabletextHead
{
	vertical-align: top;
	font-weight: bold;
}

p.procedure
{
	text-align: left;
	font-style: normal;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: bold;
	color: #667799;
}

b.procedure
{
	font-weight: normal;
}

@media print
{
	p.indent
	{
		padding-left: 50px;
	}
}

ul
{
	list-style-type: disc;
}

p.exampletight
{
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Courier New';
	font-size: 9pt;
	margin-bottom: 0pt;
	margin-top: 0pt;
}

li.userinput
{
	font-weight: bold;
}

span.userinput
{
	font-weight: bold;
}

p.noteIndent
{
	padding-left: 40px;
}

MadCap|glossaryTerm
{
	font-family: Verdana, Helvetica, sans-serif;
}

a.GlossaryPageTerm
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

a
{
	font-size: 10pt;
	font-family: Verdana, Helvetica, sans-serif;
}

div.GlossaryPageDefinition
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

div.GlossaryPageEntry
{
	font-family: Verdana, Helvetica, sans-serif;
}

div
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

p.tabletextHead
{
	vertical-align: top;
	font-weight: bold;
}

p.indent
{
	margin-left: 50px;
	padding-left: 40px;
}

p.exampleIndent
{
	margin-left: 50px;
	padding-left: 40px;
}

p.warningIndent
{
	font-weight: bold;
}

MadCap|dropDownHead
{
	color: #000000;
}

MadCap|dropDownHotspot
{
	color: #0000ff;
}

li.nospace
{
	margin-bottom: 0pt;
}

p.nospace
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

