<#if ( (parameters.readonly?exists && parameters.readonly=="true") || (parameters.stayleft?exists && parameters.stayleft=="true") )>
<@s.iterator value="parameters.list">
	<#if parameters.listKey?exists>
	    <#assign itemKey = stack.findValue(parameters.listKey)/>
	<#else>
	    <#assign itemKey = stack.findValue('top')/>
	</#if>
	<#if parameters.listValue?exists>
	    <#assign itemValue = stack.findString(parameters.listValue)/>
	<#else>
	    <#assign itemValue = stack.findString('top')/>
	</#if>
	<#if tag.contains(parameters.nameValue, itemKey)>
		${itemValue}<#t/>
	</#if>
</@s.iterator>
	
<#else>
<@s.iterator value="parameters.list">
    <#if parameters.listKey?exists>
        <#assign itemKey = stack.findValue(parameters.listKey)/>
    <#else>
        <#assign itemKey = stack.findValue('top')/>
    </#if>
    <#if parameters.listValue?exists>
        <#assign itemValue = stack.findString(parameters.listValue)/>
    <#else>
        <#assign itemValue = stack.findString('top')/>
    </#if>

<input type="radio" name="${parameters.name?html}" id="${parameters.id?html}${itemKey?html}"<#rt/>
<#if tag.contains(parameters.nameValue, itemKey)>
 checked="checked"<#rt/>
</#if>
<#if itemKey?exists>
 value="${itemKey?html}"<#rt/>
</#if>
<#if parameters.disabled?default(false)>
 disabled="disabled"<#rt/>
</#if>
<#if parameters.tabindex?exists>
 tabindex="${parameters.tabindex?html}"<#rt/>
</#if>
<#if parameters.cssClass?exists>
 class="${parameters.cssClass?html}"<#rt/>
</#if>
<#if parameters.cssStyle?exists>
 style="${parameters.cssStyle?html}"<#rt/>
</#if>
<#if parameters.title?exists>
 title="${parameters.title?html}"<#rt/>
</#if>
<#include "/${parameters.templateDir}/simple/scripting-events.ftl" />
/><#rt/>
<label for="${parameters.id?html}${itemKey?html}"><#rt/>
    ${itemValue}<#t/>
</label>

</@s.iterator>
</#if>