<div id="manualpickselect">
<table border="0" class="content" width="100%"> 
	<tr height="24px">		
		<td align="left">
			<div id="textContainer">
			<@s.text name="routeStop.closeRouteStop.body" />
		   </div>
		</td>
	</tr>
	</table>    
</div>