<!DOCTYPE html>
<html>
        <#include "/decorators/head.ftl">
<body>

		<div id="header">
		    <div id="logo">
		    </div>
		</div>
		<div style="padding: 15px;">
		${body}
		</div>
</body>
</html>